.container{
    display: grid;
    grid-template-columns: 3fr 2fr;
    background-image: linear-gradient(to top, tomato, pink, #5e5e9c);
    gap: 30px;
}

.exercise-container{
    padding: 80px;
}

.logo{
    width: 300px;
    height: 100px;
}

.exercise-container h3{
    color: #fff;
    font-weight: 500;
}
.single-exercise{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}

.exercise-about{
    background-color: #fff;
}


@media screen and (max-width: 500px) {
    .container{
        display: grid;
        grid-template-columns: 1fr;
        background-image: linear-gradient(to top, tomato, pink, #5e5e9c);
        gap: 30px;
    }

    .single-exercise{
        display: grid;
        grid-template-columns: 2fr;
    }

    .exercise-container{
        padding: 30px;
    }

    .exercise-about{
        background-color: #fff;
    }
    
}

@media screen and (min-width: 501px) and (max-width: 990px) {
    .container{
        display: grid;
        grid-template-columns: 1fr;
        background-image: linear-gradient(to top, tomato, pink, #5e5e9c);
        gap: 30px;
    }

    .single-exercise{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 45px;
    }

    .exercise-container{
        padding: 30px;
    }

    .exercise-about{
        background-color: #fff;
    }
    
}


