.exercise-details{
    position: sticky;
    top: 0;
    padding: 20px;
}

.about-me{
    display: flex;

}

.about-me img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 30px;
}

.about-me h3,p{
    margin-bottom: 0;
    margin-top: 5px;
}

.about-bio, .break-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: aqua;
    margin-top: 30px;
    border-radius: 10px;
}

.about-bio h3{
    display: inline-block;
    margin-bottom: 0;
}

.about-bio h4{
    margin-top: 10px;
}

.add-break h3{
    margin-top: 30px;
    margin-bottom: 20px;
 }

.break-items{
    padding: 20px;
}

.break-items .break-btn{
    width: 50px;
    height: 50px;
    background-color: tomato;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: normal;
    cursor: pointer;
    border: none;
}

.break-items .break-btn:hover{
    background: #fff;
    color: #000;
}

.exercise-time, .break-time{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
    padding: 0 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}


.exercise-time p, .break-time p{
    color: #998d8d;
}


.complete-btn{
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    border: none;
    font-size: 17px;
    border-radius: 10px;
    background-color: tomato;
    cursor: pointer;
}

.complete-btn:hover{
    background-color: aqua;
}