.exercise {
    height: 530px;
    width: 304px;
    border: 1px solid #95a0a7;
    border-radius: 8px;
    position: relative;
    background-color: #fff;
}

.exercise img {
    width: 290px;
    height: 290px;
    margin: 8px 7px 0px;
    border-radius: 8px;
}

.exercise-info {
    margin: 0 14px;
}


.exercise-name {
    font-size: 21px;
    color: #0E161A;
    margin-top: 10px;
    margin-bottom: 12px;
    text-transform: capitalize;
}

.btn-cart {
    width: 100%;
    background: skyblue;
    border: 0;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.btn-cart:hover{
    background-color: tomato;
}

/* @media screen and (max-width: 991px) {
    .exercise {
        height: 530px;
        width: 304px;
        border: 1px solid #95a0a7;
        border-radius: 8px;
        position: relative;
        background-color: #fff;
    }
} */


@media screen and (max-width: 500px) {
    .exercise {
        height: 530px;
        width: 304px;
        border: 1px solid #95a0a7;
        border-radius: 8px;
        position: relative;
        background-color: #fff;
    }
}